{% extends 'base.html' %}
{% block title %}T-ABI Dashboard{% endblock %}
{% block body %}

    <!-- Options Panel -->
    <div class="pg-tp">
        <i class="ion-cube"></i>
        <div class="pr-tp-inr">
            <h4>Welcome to your
                <strong>{{ user.user_profile.default_project }} T-ABI</strong>
                <span></span> Dashboard</h4>
            <span>Tarsuis Analytics and Business Intelligence</span>
        </div>
    </div>
<button onclick="myFunction()">Click Me</button>

<div id="myDIV">
  This is my DIV element.
</div>
    <!-- Page Top -->

    <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
{% endblock %}